@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*
{
	margin: 0;
	font-size: 60px;
	color: #4B4B4B;
	
}

body
{
	height: 100vh;
}

.start
{
	display: flex;
	justify-content: center;
}

h1
{
	font-family: 'Fredoka One', cursive;
	font-size: 200px;
	color: #FFABAB;
	margin-top: 250px;
	transition-duration: 0.25s;
	cursor: pointer;
}

h1:hover
{
	color: yellow;
	font-size: 250px;
}

.wrapper
{
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    visibility: hidden;
}

i 
{
	padding: 30px 38px;
}

.row
{
	grid-column: 1 /1;
	display: inline-block;
	align-items: center;
	overflow: hidden;
	word-break: break-all;
	transition-duration: 0.5s;
}

.one
{
	grid-row: 1 / 8;
	background-color: PeachPuff;
}

.two
{
	grid-row: 2 / 8;
	background-color: PaleTurquoise;
}

.three
{
	grid-row: 3 / 8;
	background-color: #FFABAB;
}

.four
{
	grid-row: 4 / 8;
	background-color: Orange;
}

.five
{
	grid-row: 5 / 8;
	background-color: Thistle;
}

.six
{
	grid-row: 6 / 8;
	background-color: Yellow;
}


.seven
{
	grid-row: 7 / 8;
	background-color: SeaShell;
}

.eight
{
	grid-row: 8 / 8;
	background-color: PaleTurquoise;
}

.fall{
	animation-duration: 10s;
	animation-name: slidein;
	/* color: red; */
}


@keyframes slidein {
	0% { top: 0;  }
	30% { top: 50px; }
	68%, 72% { top: 150px; }
	100% { top: 400px;}
  }